{{- if (.work) -}}
{{- (bitwarden "item" "b4770e5d-94e5-46b8-87ef-b29c0101dabe").notes }}
{{- end }}

{{ (bitwarden "item" "149eb0d7-ebbd-46f0-8f25-b3370151e70a").notes }}

Host *
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes

AddKeysToAgent  yes