{{- if (.work) -}}
{{- (bitwarden "item" "b4770e5d-94e5-46b8-87ef-b29c0101dabe").notes }}
{{- end }}

Host hass homeassistant home-assistant
    HostName 192.168.1.77
    User root

Host *
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes

AddKeysToAgent  yes