{{- if and .work (hasKey . "secrets") -}}
{{- .secrets.ssh.work_config }}
{{ end }}

{{- if hasKey . "secrets" }}
{{ .secrets.ssh.personal_config }}
{{- end }}

Match host github.com exec "[[ $PWD == /home/*/Travail/* ]]"
    IdentityFile ~/.ssh/id_ed25519_work

Match host github.com !exec "[[ $PWD == /home/*/Travail/* ]]"
    IdentityFile ~/.ssh/id_ed25519

Host github.com
    HostName github.com
    User git
    IdentitiesOnly yes

Host *
    AddKeysToAgent  yes