try {
    if (bw login --check) {
        exit 0
    }

    $env:BW_SESSION = bw login {{ .email }} --raw
} catch {
    Write-Output "Bitwarden CLI n'est pas installé. Veuillez l'installer avant de continuer."
    exit 1
}