[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

# Aliases
[include]
    path = ~/.config/git/aliases
    path = ~/.config/git/safe

{{- if eq .chezmoi.os "windows" }}
[core]
	autocrlf = false
	eol = lf
{{- end }}