[user]
    name = CeansBzh
    email = {{ .email | quote }}
    signingkey = ~/.ssh/id_ed25519.pub

{{- if eq .chezmoi.os "windows" }}
[core]
	autocrlf = false
	eol = lf
{{- end }}

[push]
    default = current

[pull]
    rebase = false

[gpg]
    format = ssh

# Configurations externes
[include]
    path = ~/.config/git/aliases
    path = ~/.config/git/safe

[includeIf "gitdir/i:~/Travail/"]
  path = ~/.config/git/config.work